<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a href="https://www.facturando.mx" target="_blank"><img alt="image" src="assets/img/logotipo.png" style="width: 190px;" /></a>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a href="widgets.html"><i class="fa fa-times-circle"></i> <span class="nav-label">Autorización SAT</span><span class="label label-danger float-right">18</span></a>
                </li>
                <li>
                    <a href="widgets.html"><i class="fa fa-times-circle"></i> <span class="nav-label">Totales</span><span class="label label-danger float-right">15</span></a>
                </li>
                <li class="active">
                    <a href="widgets.html"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Estructura <span class="label label-warning float-right">10</span></span></a>
                </li>
                <li>
                    <a href="widgets.html"><i class="fa fa-info-circle"></i> <span class="nav-label">Sello<span class="label label-info blue-bg float-right">12</span></span></a>
                </li>
                <li class="active">
                    <a href="widgets.html"><i class="fa fa-check-circle"></i> <span class="nav-label">Timbre</span></a>
                </li>
                <li>
                    <a href="widgets.html"><i class="fa fa-times-circle"></i> <span class="nav-label">Certificado</span><span class="label label-danger float-right">28</span></a>
                </li>
                <li class="active">
                    <a href="widgets.html"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Schema</span><span class="label label-warning float-right">36</span></a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Autorización del SAT</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> La validación del SAT tiene unos elementos erroneos</li>
                </ol>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        Errores: 17
                    </li>
                    <li class="breadcrumb-item">
                        Advertencias: 28
                    </li>
                    <li class="breadcrumb-item active">
                        Sugerecias: 36
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>VALIDACIONES</h5>

                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <tbody>
                                        <tr>
                                            <td style="width:20px"><a href="#"><i class="fa fa-info-circle text-navy"></i></a></td>
                                            <td>Project<small>This is example of project</small></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-times-circle text-navy"></i></a></td>
                                            <td>Alpha project</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-exclamation-triangle text-navy"></i></a></td>
                                            <td>Betha project</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-check-circle text-navy"></i></a></td>
                                            <td>Gamma project</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>DATOS</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td style="width:20px;"><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                            <td style="width:20%">Project<small>This is example of project</small></td>
                                            <td style="width:80%"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                            <td>Alpha project</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                            <td>Betha project</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                            <td>Gamma project</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Derechos reservados</strong> Facturando.mx &copy; 2019
            </div>
        </div>

    </div>






    <div id="right-sidebar" class="animated">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-3">
                <li>
                    <a class="nav-link active" data-toggle="tab" href="#tab-1"> Notes </a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-2"> Projects </a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-3"> <i class="fa fa-gear"></i> </a>
                </li>
            </ul>

            <div class="tab-content">


                <div id="tab-1" class="tab-pane active">

                    <div class="sidebar-title">
                        <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
                        <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                    </div>
                </div>

                <div id="tab-2" class="tab-pane">

                    <div class="sidebar-title">
                        <h3> <i class="fa fa-cube"></i> Latest projects</h3>
                        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                    </div>

                    <ul class="sidebar-list">
                        <li>
                            <a href="#">
                                <div class="small float-right m-t-xs">9 hours ago</div>
                                <h4>Business valuation</h4>
                                It is a long established fact that a reader will be distracted.

                                <div class="small">Completion with: 22%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small float-right m-t-xs">9 hours ago</div>
                                <h4>Contract with Company </h4>
                                Many desktop publishing packages and web page editors.

                                <div class="small">Completion with: 48%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small float-right m-t-xs">9 hours ago</div>
                                <h4>Meeting</h4>
                                By the readable content of a page when looking at its layout.

                                <div class="small">Completion with: 14%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-primary float-right">NEW</span>
                                <h4>The generated</h4>
                                There are many variations of passages of Lorem Ipsum available.
                                <div class="small">Completion with: 22%</div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small float-right m-t-xs">9 hours ago</div>
                                <h4>Business valuation</h4>
                                It is a long established fact that a reader will be distracted.

                                <div class="small">Completion with: 22%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small float-right m-t-xs">9 hours ago</div>
                                <h4>Contract with Company </h4>
                                Many desktop publishing packages and web page editors.

                                <div class="small">Completion with: 48%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small float-right m-t-xs">9 hours ago</div>
                                <h4>Meeting</h4>
                                By the readable content of a page when looking at its layout.

                                <div class="small">Completion with: 14%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-primary float-right">NEW</span>
                                <h4>The generated</h4>
                                <!--<div class="small float-right m-t-xs">9 hours ago</div>-->
                                There are many variations of passages of Lorem Ipsum available.
                                <div class="small">Completion with: 22%</div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>

                    </ul>

                </div>

                <div id="tab-3" class="tab-pane">

                    <div class="sidebar-title">
                        <h3><i class="fa fa-gears"></i> Settings</h3>
                        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                    </div>

                    <div class="setings-item">
                        <span>
                  Show notifications
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                <label class="onoffswitch-label" for="example">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                        <span>
                  Disable Chat
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                                <label class="onoffswitch-label" for="example2">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                        <span>
                  Enable history
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                <label class="onoffswitch-label" for="example3">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                        <span>
                  Show charts
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                <label class="onoffswitch-label" for="example4">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                        <span>
                  Offline users
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">
                                <label class="onoffswitch-label" for="example5">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                        <span>
                  Global search
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">
                                <label class="onoffswitch-label" for="example6">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                        <span>
                  Update everyday
              </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                <label class="onoffswitch-label" for="example7">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-content">
                        <h4>Settings</h4>
                        <div class="small">
                            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry. And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose
                            (injected humour and the like).
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>